# Exploração dos Dados

## API IBGE

Em primeiro momento meu objetivo é obter os nomes de todas as cidades do brasil. Essa lista será utilizada posteriormente para realizar buscas em uma API principal de dados climáticos. A estratégia será 
implementar buscas paralelas, utilizando threads, de forma que cada cidade seja consultada individualmente e simultaneamente. Isso visa otimizar o tempo total de coleta dos dados climáticos e melhorar a eficiência do processo.

In [107]:
import requests
import pandas as pd

In [ ]:
url_ibge = 'https://servicodados.ibge.gov.br/api/v1/localidades/municipios'
r = requests.get(url_ibge)
if r.status_code == 200:
    lista = r.json()
else:
    print(f"Erro na requisição: {r.status_code}")

In [109]:
lista[0]

{'id': 1100015,
 'nome': "Alta Floresta D'Oeste",
 'microrregiao': {'id': 11006,
  'nome': 'Cacoal',
  'mesorregiao': {'id': 1102,
   'nome': 'Leste Rondoniense',
   'UF': {'id': 11,
    'sigla': 'RO',
    'nome': 'Rondônia',
    'regiao': {'id': 1, 'sigla': 'N', 'nome': 'Norte'}}}},
 'regiao-imediata': {'id': 110005,
  'nome': 'Cacoal',
  'regiao-intermediaria': {'id': 1102,
   'nome': 'Ji-Paraná',
   'UF': {'id': 11,
    'sigla': 'RO',
    'nome': 'Rondônia',
    'regiao': {'id': 1, 'sigla': 'N', 'nome': 'Norte'}}}}}

In [110]:
lista[0]['microrregiao']['mesorregiao']['UF']['nome']

'Rondônia'

In [111]:
lista_municipios = []

In [112]:
for posicao in lista:
    lista_municipios.append({'Cidade' : posicao['nome'],'Estado' : posicao['microrregiao']['mesorregiao']['UF']['nome']})

TypeError: 'NoneType' object is not subscriptable

In [ ]:
len(lista_municipios)

5199

In [ ]:
teste = pd.DataFrame(lista_municipios)
teste

                     Cidade       Estado
0     Alta Floresta D'Oeste     Rondônia
1                 Ariquemes     Rondônia
2                    Cabixi     Rondônia
3                    Cacoal     Rondônia
4                Cerejeiras     Rondônia
...                     ...          ...
5194             Arenápolis  Mato Grosso
5195               Aripuanã  Mato Grosso
5196       Barão de Melgaço  Mato Grosso
5197        Barra do Bugres  Mato Grosso
5198        Barra do Garças  Mato Grosso

[5199 rows x 2 columns]